:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  --bgwhite: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --textwhite: white;
  --textnavy: #110C64;
  --textblack: black;
  --textdarknavy: #1D1C31;
  --textdull: rgb(227, 226, 226);
  --textdark: black;
  --textfade: rgb(218, 218, 218);
  --textlow-1: rgba(59, 59, 59, 0.695);
  --textlow-2: rgba(87, 87, 87, 0.804);
  --textwhitedull: rgba(255, 255, 255, 0.59);
  --textgray: #777783;
  --lightgray: #E8E8EA;
  --tbgblue: #473FDF;
  --tbgblueop1: #738efab4;
  --tbgblueop2: #3ed5ffc1;
  --btnWhite: rgb(234, 234, 234);
  --btntextdark: black;
  --btntextlight: white;

  --servicebg : #433aef;;
  --herobg: #003fdbff;
  --dashboard: #eaeef6;
  --bankcard: #fff;
  --footerbg: #5d55ff10;
  --footersociallink: #B6B3EB;

  --editbtn:#4caf50;
  --editbtnhover:#45a049;
  --dltbtn:#ff3333;
  --dltbtnhover:#cc0000;
  --orange: #FF4742;
  --onhoverorange:#ff484239;
  
  --tablseclr: cadetblue;

  --gradient-background-1: linear-gradient(124deg, rgb(60, 52, 205) 20%, rgba(77, 68, 250, 0.895) 42%, rgba(45, 35, 244, 0.81) 85%);
  --gradient-background-2: linear-gradient(to bottom right, rgb(0, 51, 255), rgb(96, 216, 246));
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
/* Apply custom scrollbar styles to all scrollable elements */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #446EDB #DFE9EB;
} */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
  width: 1px; /* Width of the scrollbar */
}


*::-webkit-scrollbar-track {
  background: #DFE9EB; /* Track color */
}

*::-webkit-scrollbar-thumb {
  background-color: #446EDB; /* Thumb color */
  border-radius: 5px; /* Round corners */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3A5EBB; /* Thumb color on hover */
}

*::-webkit-scrollbar-thumb:active {
  background-color: #4D7CF7; /* Thumb color when clicked */
}


label {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--textdark);
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.5em;
}

.container {
  max-width: 1300px;
  margin: auto;
}

::selection {
  background-color: rgba(240, 85, 118, 0.935);
}

/* Input Form */

input, select {
  padding: 12px;
  border: 2px solid #ccc;
  color:black;
  border-radius: 15px;
  font-size: 15px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: 8px 0px;
  transition: border-color 0.3s ease-in-out;
}

input:hover, input:focus {
  border-color: #55a7ff;
}

input::placeholder {
  color: #888;
  font-style: italic;
}

input::before {
  content: '\2022'; /* Unicode character for a bullet point */
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: #55a7ff;
}