#Admin-Panel {
  display: grid;
  grid-template-columns: minmax(200px, 250px) 1fr;
  /* First column covers 200-250px, second column takes up remaining width */
  height: 100vh;
}


.admin-sidebar {
  background-color: var(--herobg);
  color: var(--textwhite);
  padding-top: 20px;
}

.admin-header #admintop {
  margin: 20px;

}

.admin-header nav ul {
  list-style-type: none;
  padding: 0;
}

.admin-header nav ul li {
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.admin-header nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.admin-header nav ul li:last-child {
  border-bottom: none;
}

.admin-header nav ul li a {
  color: var(--textwhite);
  font-size: large;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}



/* admin dashboard hero */

.dashboard-hero {
  /* background-color: #034c67; */
  background-color: #1a4157;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--textwhite);
}

.dashboard-hero h1 {
  margin: 0;
}

.dashboard-hero span {
  font-size: 14px;
  color: #a4a2a2;
}

.dashboard-content section {
  background-color: #f0f0f0;
}

/* admin  table styles */

.admin-main-pd {
  padding: 0px 20px;
}

.adminmainscroll {
  min-height: 81vh;
  padding-bottom: 50px;
  overflow-y: auto;
  /* Use 'auto' to only show scrollbar when needed */
}

/* .adminmainscroll::-webkit-scrollbar {
  display: none !important;
} */


/* Table */
.admin-data-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  padding: 10px;
}

.admin-data-table thead,
.admin-data-table tbody td:first-child {
  background-color: var(--tablseclr);
}

.admin-data-table th,
.admin-data-table td {
  padding: 12px;
  border: 1px solid #dddddd;
  text-align: left;
}

.admin-data-table th:nth-last-child(-n+2),
.admin-data-table td:nth-last-child(-n+2) {
  text-align: center;
}

.admin-data-table td:first-child {
  font-weight: bold;
}

/* Btn in Admin pannel */
.admin-edit-btn,
.admin-dlt-btn {
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--editbtn);
  color: white;
  font-size: 14px;
}

.admin-edit-btn:hover {
  background-color: var(--editbtnhover);
}

.admin-dlt-btn {
  background-color: var(--dltbtn);
}

.admin-dlt-btn:hover {
  background-color: var(--dltbtnhover);
}


/* popup CSS */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-open {
  overflow: hidden;
}

.popup-container {
  position: fixed;
  /* Change position to absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 80%;
  min-width: 375px;
  max-width: 650px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}


.saveupdate-btn:hover {
  background-color: #4543f7;
  /* Change background color on hover */
}

/* Popup content */
.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* Close button */
.popup-close-btn {
  position: absolute;
  display: flex;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #000000;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.popup-close-btn:hover {
  background-color: #00000046;
}

.saveupdate-btn {
  margin-top: 15px;
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.user-edit-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.user-edit-form form .form-group {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-edit-form form label {
  font-weight: bold;
  margin-right: 10px;
}


/* Responsive design */
@media screen and (max-width: 768px) {
  #Admin-Panel {
    grid-template-columns: 100%;
    /* Switch to a single column layout */
  }

  .popup-container {
    width: 90%;
  }

  .user-edit-form form {
    width: 90%;
    /* Adjust form width for smaller screens */
  }

  #admintop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #admin-navlist {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
  }

  #admin-navlist.admin-nav-open {
    height: auto;
  }

  #admintop .closenav::before {
    transform: translateY(9px) rotate(45deg);
  }

  #admintop .closenav::after {
    transform: translateY(-8px) rotate(-45deg);
    box-shadow: none !important;
  }

}