.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.popup-open {
  overflow: hidden;
}
.popup-container {
  position: absolute; /* Change position to absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 80%;
  min-width: 375px;
  max-width: 650px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}


.saveupdate-btn:hover {
  background-color: #4543f7; /* Change background color on hover */
}
/* Popup content */
.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* Close button */
.popup-close-btn {
  position: absolute;
  display: flex;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #000000;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.popup-close-btn:hover{
  background-color: #00000046;
}

.saveupdate-btn {
  margin-top: 15px;
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.user-edit-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}

.user-edit-form form .form-group {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-edit-form form label {
  font-weight: bold;
  margin-right: 10px;
}


/* Responsive design */
@media screen and (max-width: 768px) {
  .popup-container {
    width: 90%;
  }
  .user-edit-form form {
    width: 90%; /* Adjust form width for smaller screens */
  }
}