#addtape{
    height: 60px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px 20px;
}
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transition: all 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  background-color: #18c35f;
  box-shadow: rgba(0, 0, 0, 0.491) 0px 1px 4px;
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}